html  {
  scroll-behavior: smooth;
}
  
  header{
  height:40rem;
  color: #fffafa;
  background-image: url('images/pexels.jpg');
  background-position: center center;
  background-repeat: none;
  background-size: cover;
  opacity: 80%;
  }

h1{
  font-family: 'Cormorant Unicase', serif;
  font-size: 4rem;
  /* padding-top: 7% ; */
  padding: 7% 3% 0 3%
  /* text-align: center; */
  /* padding-top: 12rem; */
}
h2{
  font-family: 'Cormorant Infant', serif;
  /* text-align: center; */
  /* padding-bottom: 7%; */
  padding: 0 3% 7% 3%
}

.navbar{
  font-family: 'Cormorant Unicase', serif;
  padding: 2% 10%;
  font-size: 1.4rem;
  font-weight: 400;
}

.navbar-brand{
  font-family: 'Cormorant Garamond', serif;
  font-weight: 700;
  font-size: 2rem;
}

.nav-item{
  padding-left: 4rem;
}

.box{
  position: relative;
  border: 1px solid;
  height: 100%;
  width: 50%;
  margin: 5% 25% auto;
  text-align: center;
}

@media (max-width: 800px){
  .box{
    width: 60%;
  }
}

/* About section */

#about{
  padding: 7% 7%;
}

.profile-img{  
  width: 35%;
  height: 35%;
  float: left;
  margin-right: 70px;
}

.about-text-style{
  font-family: 'Cormorant Infant', serif;
  font-size: 1.1rem;
  padding: 7% 7%
}

@media(max-width:800px){
  .profile-img{
    margin-bottom: 50px;
  }
}

#experience{
  background-color: #91a9b7;
  padding: 7% 5%;
  text-align: center;
  color: white;
}

#experience p{
  font-family: 'Cormorant Infant', serif;
  font-size: 1.3rem;
}

h3{
  font-family: 'Cormorant Unicase', serif;
  font-size: 2.8rem;
}

.exp-btn{
  font-size: 5rem;
  color: rgb(231, 231, 231);
  font-weight: 600;
}

.exp-btn:hover{
  color:white;
}

/* Portfolio Section */
#portfolio{
  background-color: #fff;
  height: 15rem;
  text-align: center;
}

.photos{
  margin-top: 5rem;
  font-size: 3.5rem;
  border: none;
  background-color: inherit;
  text-decoration: none;
  display: inline-block;
  color: black;
  font-family: 'Cormorant Unicase', serif;
}

.photos:hover{
  text-decoration: none;
  color:grey;
  font-family: 'Cormorant Unicase', serif;
}


/* Separate portfolio section */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gallery{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  min-height: 100vh;
  grid-gap: 1rem;
}

.img-container{
  overflow: hidden;
}
.img-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.4s ease-out;
  cursor: pointer;
}

.img-container img:hover{
  transform: scale(1.1);
}

.modal{
  background:rgba(0, 0, 0, 0.8);
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  transition: 0.25s ease-out;
}

.modal.open{
  opacity: 1;
  pointer-events: all;
}

.modal p{
  font-size: 1.5rem;
  color: white;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -5%);
  font-family: 'Cormorant Infant', serif;
}

.full-img{
  position: absolute;
  height:80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  transition: all 0.25s ease-out;
}

.full-img.open{
  transform: translate(-50%, -50%) scale(1);
}

/* Back button on Portfolio page */
.back-button{
  width: 2.5rem;
  height: 2.5rem;
  font-size: 2rem;
  border-style: none;
  background-color: #fff;
  color:grey;
  outline: none;
  padding-left: 5px;

}

.back-button:hover{
  color:black;
}

#another-background{
  margin-top: 3%;
}

.image{
  width: 100%;
  height: 100%;
  padding-bottom: 5%;
}

/* Footer  */
#footer{
  background-color:  #91a9b7;
  text-align: center;
}

.footer-icn{
  font-size: 2rem;
  padding-bottom: 3%;
  padding-left: 3%;
  color: black;
}

.footer-icn:hover{
  color: white;
}

.footer-h1{
  font-size: 2rem;
  padding-bottom: 2%;
  padding-top: 4%;
  font-weight: 900;
}

.footer-h2{
  font-size: 1.3rem;
  padding-bottom: 3%;
}